<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>TP4-ProgVisual</title>
  <meta name="tp4ProgVisual" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>
<body>
<header> 
<h1>Trabajo Practico N°4 - Calendario</h1>
</header>
<nav>
<img title="imagen2" width="100%" alt="imagen para el titulo" src="../static/images/imagen3.jpg">
<ul>
	<li><a href="index.html">Inicio</a></li>
  <li><a href="agenda.html">Agenda</a></li>
  <li><a href="">Beneficios y Becas</a></li>
  <li><a href="contacto.html">Contactanos</a></li>
</ul>
</nav>
<section>
<p> “Página en construcción” </p>
</section>
<footer>
2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.
</footer>
</body>