<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>TP4-ProgVisual</title>
  <meta name="tp4ProgVisual" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>
<header> 
<h1>Trabajo Practico N°4 - Programacion Visual</h1>
<img title="imagen1" width="100%" alt="imagen para el titulo" src="../static/images/imagen5.png">
</header>
<nav>
<ul>
  <li><a href="index.html">Inicio</a></li>
  <li><a href="agenda.html">Agenda</a></li>
  <li><a href="beneficios.html">Beneficios y Becas</a></li>
  <li><a href="contacto.html">Contactanos</a></li>
</ul>
</nav>
<section>
<p> Tabla de materias :</p>
<table border="1" class="tabla materias">
		<tr>
			<th>Titulo del curso</th>
			<th>Fecha inicio</th>
			<th>Horario</th>
			<th>Fecha fin</th>
			<th>Modalidad (virtual/presencial)</th>
			<th>Docente</th>
			<th>Duracion en semanas</th>
		</tr>
		<tr>
    <td>Programacion Visual</td>
 <td>22 de marzo</td>
 <td>lunes 19 a 21 hs</td>
 <td>22 de junio</td>
  <td>virtual</td>
  <td>Ing Ariel Vega</td>
  <td>16 semanas</td>
  </tr>

</table>
</section>